service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read;
      allow create: if request.auth.uid != null
      											&& request.resource.data.title != ""
                            && request.resource.data.content != "";
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid == resource.data.user.uid;
      match /comments/{commentId} {
      	allow read;
        allow create: if request.auth.uid != null;
        allow delete: if request.auth.uid == resource.data.creator;
      }
    }
    match /users/{userId} {
   		allow read;
      allow write: if request.auth.uid == userId
    }    
  }
}
